.header {
  background-color: var(--background);
}

.nav {
  display: flex;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
}

.leftBlock {
  display: flex;
  flex-basis: 35%;
}

.navLink {
  display: flex;
  color: var(--text-inactive-color);
  text-decoration: none;
}

.navLinkActive {
  color: var(--text-primary-color);
}

.navLinkLast {
  display: flex;
  flex-basis: 35%;
  justify-content: flex-end;
}

.logoBlock {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
